//Heading styles  - base

.subtitle-28{
  font-family: "Mallory-Book";
  font-size: 1.75rem;
  color: $academy-gray;
  letter-spacing: 0;
  line-height: 2rem;
}

.subtitle-24{
  font-family: "Mallory-Book";
  font-size: 1.5rem;
  color: $academy-gray;
  letter-spacing: 0;
  line-height: 1.75rem;
}

.subtitle-20{
  font-family: "Mallory-Book";
  font-size: 1.25rem;
  color: $academy-gray;
  letter-spacing: 0;
  line-height: 1.5rem;
}

.eyebrow{
  font-family: "Mallory-Medium";
  font-size: 0.75rem;
  color: $academy-gray2;
  letter-spacing: 1;
  line-height: 1rem;
}

.body-20-regular{
  font-family: "Mallory-Book";
  font-size: 1.25rem;
  color: $academy-gray;
  letter-spacing: 0;
  line-height: 1.5rem;
}

.body-20-bold{
  font-family: "Mallory-Bold";
  font-size: 1.25rem;
  color: $academy-gray;
  letter-spacing: 0;
  line-height: 1.5rem;
}

.body-16-regular{
  font-family: "Mallory-Book";
  font-size: 1rem;
  color: $academy-gray;
  letter-spacing: 0;
  line-height: 1.25rem;
}

.body-16-bold{
  font-family: "Mallory-Bold";
  font-size: 1rem;
  color: $academy-gray;
  letter-spacing: 0;
  line-height: 1.25rem;
}

.body-14-regular{
  font-family: "Mallory-Book";
  font-size: 0.875rem;
  color: $academy-gray;
  letter-spacing: 0;
  line-height: 1.125rem;
}

.body-14-bold{
  font-family: "Mallory-Bold";
  font-size: 0.875rem;
  color: $academy-gray;
  letter-spacing: 0;
  line-height: 1.125rem;
}

.body-14-light{
  font-family: "Mallory-Light";
  font-size: 0.875rem;
  color: $academy-gray;
  letter-spacing: 0;
  line-height: 1.125rem;
}

.body-12-regular{
  font-family: "Mallory-Book";
  font-size: 0.75rem;
  color: $academy-gray;
  letter-spacing: 0;
  line-height: 1rem;
}

.body-12-bold{
  font-family: "Mallory-Bold";
  font-size: 0.75rem;
  color: $academy-gray;
  letter-spacing: 0;
  line-height: 1rem;
}

.body-12-light{
  font-family: "Mallory-Light";
  font-size: 0.75rem;
  color: $academy-gray;
  letter-spacing: 0.3;
  line-height: 1rem;
}

.body-10-regular{
  font-family: "Mallory-Book";
  font-size: 0.625rem;
  color: $academy-gray;
  letter-spacing: 0;
  line-height: 0.875rem;
}

.body-10-bold{
  font-family: "Mallory-Bold";
  font-size: 0.625rem;
  color: $academy-gray;
  letter-spacing: 0;
  line-height: 0.875rem;
}

.text-link-14{
  font-family: "Mallory-Book";
  font-size: 0.875rem;
  color: $academy-blue;
  letter-spacing: 0;
  line-height: 1.125rem;
}

.text-link-12{
  font-family: "Mallory-Book";
  font-size: 0.75rem;
  color: $academy-blue;
  letter-spacing: 0;
  line-height: 1rem;
}
