//Heading styles  - base

h1 {
  font-family: $font-family-cond-black;
  font-size: 6rem;
  color: $academy-gray;
  line-height: 5.5rem;
}

h2 {
  font-family: $font-family-cond-black;
  font-size: 4.5rem;
  color: $academy-gray;
  letter-spacing: 0;
  line-height: 4.25rem;
}

h3 {
  font-family: $font-family-cond-black;
  font-size: 3.375rem;
  color: $academy-gray;
  letter-spacing: 0;
  line-height: 3.375rem;
}

h4 {
  font-family: $font-family-cond-black;
  font-size: 2.625rem;
  color: $academy-gray;
  letter-spacing: 0;
  line-height: 2.625rem;
}

h5 {
  font-family: $font-family-cond-black;
  font-size: 2rem;
  color: $academy-gray;
  letter-spacing: 0;
  line-height: 2rem;
}

h6 {
  font-family: $font-family-cond-black;
  font-size: 1.5rem;
  color: $academy-gray;
  letter-spacing: 0rem;
  line-height: 1.5rem;
}
