//Heading styles  - base
.o-copy__24light{
  font-family: $font-family-light;
  font-size: 1.5rem;
  color: $academy-gray;
  letter-spacing: 0;
  line-height: 1.75rem;
}
.o-copy__20reg{
 font-family: $font-family-base;
 font-size: 1.25rem;
 color:$academy-gray;
 letter-spacing: 0;
 line-height: 1.5rem;
}

.o-copy__20bold{
 font-family: $font-family-bold;
 font-size: 1.25rem;
 color:$academy-gray;
 letter-spacing: 0;
 line-height: 1.5rem;
 font-weight: bold;
}

// EYEBROW-18
.o-copy__18reg{ 
  font-family: $font-family-base;
  font-size: 1.125rem;
  color:$academy-gray2;
  letter-spacing: 2px;
  line-height: 1.375rem;
}

.o-copy__16reg{
  font-family: $font-family-base;
  font-size: 1rem;
  color:$academy-gray;
  letter-spacing: 0;
  line-height: 1.25rem;
}

.o-copy__16bold{
  font-family: $font-family-bold;
  font-size: 1rem;
  color:$academy-gray;
  letter-spacing: 0;
  line-height: 1.25rem;
  font-weight: bold;
}

.o-copy__14reg{
  font-family: $font-family-base;
  font-size: 0.875rem;
  color:$academy-gray;
  letter-spacing: 0;
  line-height: 1.125rem;
}

.o-copy__14bold{
  font-family: $font-family-bold;
  font-size: 0.875rem;
  color:$academy-gray;
  letter-spacing: 0;
  line-height: 1.125rem;
  font-weight: bold;
}

.o-copy__14light{
  font-family: $font-family-light;
  font-size: 0.875rem;
  color: $academy-gray;
  letter-spacing: 0;
  line-height: 1.125rem;
}

.o-copy__12reg{
  font-family: $font-family-base;
  font-size: 0.75rem;
  color:$academy-gray;
  letter-spacing: 0;
  line-height: 1rem;
}

.o-copy__12bold{
  font-family: $font-family-bold;
  font-size: 0.75rem;
  color:$academy-gray;
  letter-spacing: 0;
  line-height: 1rem;
  font-weight: bold;
}

.o-copy__12light{
  font-family: $font-family-light;
  font-size: 0.75rem;
  color: $academy-gray;
  letter-spacing: 0;
  line-height: 1rem;
}

.o-copy__10reg{
  font-family: $font-family-base;
  font-size: 0.625rem;
  color:$academy-gray;
  letter-spacing: 0;
  line-height: 0.875rem;
}

.o-copy__10bold{
  font-family: $font-family-bold;
  font-size: 0.625rem;
  color:$academy-gray;
  letter-spacing: 0;
  line-height: 0.875rem;
  font-weight: bold;
}
