/** font family variable **/
$font-family-base: 'Mallory-Book', 'Helvetica Neue', sans-serif;
$font-family-bold: 'Mallory-Bold';
$font-family-light: 'Mallory-Light';
$font-family-cond-black: 'Mallory-Condensed-Black';
$font-family-cond-medium: 'Mallory-Condensed-Medium';
$font-family-medium: 'Mallory-Medium';

/** font files variable **/
$fonts-path: '../fonts/';
$font-mallory: 'Mallory/';
$font-academy: 'academy/';
$font-slick: 'Slick/';
