//Color Pallete for Academy

$academy-blue: #0055a6;
$academy-gray: #333333;
$academy-gray2: #7F7F7F;
$academy-gray3: #767676;
$academy-red: #ee0000;
$academy-white: #ffffff;

//Color Pallette for Interaction elements

$ui-light-blue: #0255cc;
$ui-dark-blue: #003366;
$ui-red: #d60000;
$ui-green: #1eaa1e;

//Gray Color Pallette

$gray-05: #f6f6f6;
$gray-20: #e6e6e6;
$gray-30: #cccccc;
$gray-40: #9b9b9b;
$gray-60: #6a6a6a;
$gray-65: #585858;
$gray-70: #4c4c4c;
$gray-80: #333333;
$gray-85: #262626;

