/**
 * Mallory
 * aka: mallory book
 **/
 /** default font **/
 @font-face {
  font-family: 'Mallory';
  src: url('../fonts/Mallory/Mallory-Book.ttf') format("truetype"), url('../fonts/Mallory/Mallory-Book.otf') format("opentype");
}


@font-face {
  font-family: 'Mallory-Book';
  src: url('../fonts/Mallory/Mallory-Book.ttf') format("truetype"), url('../fonts/Mallory/Mallory-Book.otf') format("opentype");
}


@font-face {
  font-family: 'Mallory-Book-Italic';
  src: url('../fonts/Mallory/Mallory-BookItalic.otf') format("opentype");
}


@font-face {
  font-family: 'Mallory-Bold';
  src: url('../fonts/Mallory/Mallory-Bold.ttf') format("truetype"), url('../fonts/Mallory/Mallory-Bold.otf') format("opentype");
}


@font-face {
  font-family: 'Mallory-Bold-Italic';
  src: url('../fonts/Mallory/Mallory-BoldItalic.otf') format("opentype");
}


/**
 * Mallory-Black
 **/

@font-face {
  font-family: 'Mallory-Black';
  src: url('../fonts/Mallory/Mallory-Black.otf') format("opentype");
}


@font-face {
  font-family: 'Mallory-Black-Italic';
  src: url('../fonts/Mallory/Mallory-BlackItalic.otf') format("opentype");
}


/**
 * Mallory-Medium
 **/

@font-face {
  font-family: 'Mallory-Medium';
  src: url('../fonts/Mallory/Mallory-Medium.otf') format("opentype");
}


@font-face {
  font-family: 'Mallory-Medium-Italic';
  src: url('../fonts/Mallory/Mallory-MediumItalic.otf') format("opentype");
}


/**
 * Mallory-Thin
 **/

@font-face {
  font-family: 'Mallory-Thin';
  src: url('../fonts/Mallory/Mallory-Thin.otf') format("opentype");
}


@font-face {
  font-family: 'Mallory-Thin-Italic';
  src: url('../fonts/Mallory/Mallory-ThinItalic.otf') format("opentype");
}


/**
 * Mallory-Ultra
 **/

@font-face {
  font-family: 'Mallory-Ultra';
  src: url('../fonts/Mallory/Mallory-Ultra.otf') format("opentype");
}


@font-face {
  font-family: 'Mallory-Ultra-Italic';
  src: url('../fonts/Mallory/Mallory-UltraItalic.otf') format("opentype");
}


/**
 * Mallory-Light
 **/

@font-face {
  font-family: 'Mallory-Light';
  src: url('../fonts/Mallory/Mallory-Light.otf') format("opentype");
}


@font-face {
  font-family: 'Mallory-Light-Italic';
  src: url('../fonts/Mallory/Mallory-LightItalic.otf') format("opentype");
}


/**
 * Mallory-ExtraLight
 **/

@font-face {
  font-family: 'Mallory-ExtraLight';
  src: url('../fonts/Mallory/Mallory-ExtraLight.otf') format("opentype");
}


@font-face {
  font-family: 'Mallory-ExtraLight-Italic';
  src: url('../fonts/Mallory/Mallory-ExtraLightItalic.otf') format("opentype");
}


/**
 * MalloryCond-Black
 **/

@font-face {
  font-family: 'MalloryCond-Black';
  src: url('../fonts/Mallory/MalloryCond-Black.otf') format("opentype"), url('../fonts/Mallory/MalloryCond-Black.woff') format("woff");
}


/**
 * MalloryCond-Medium
 **/

@font-face {
  font-family: 'MalloryCond-Medium';
  src: url('../fonts/Mallory/MalloryCond-Medium.otf') format("opentype"), url('../fonts/Mallory/MalloryCond-Medium.woff') format("woff");
}


/**
 * MalloryCond-Light
 **/

@font-face {
  font-family: 'MalloryCond-Light';
  src: url('../fonts/Mallory/MalloryCond-Light.otf') format("opentype"), url('../fonts/Mallory/MalloryCond-Light.woff') format("woff");
}
