{
  "presets": [
    [
      "env",
      {
        "modules": "umd"
      }
    ],
    "react",
    "stage-2"
  ],
  "plugins": ["external-helpers", "transform-runtime", "emotion", "styled-components"]
}
